@import '../../variables.scss';

.Login {
    height: 100vh;
    width: 100vw;
    background-color: $light-gray;
    .LoginModal {
        width: 800px;
        height: 380px;
        border: 10px solid $white;
        border-radius: 0;
        padding: 0;
        .Logo {
            background-color: $gray;
            img {
                width: 200px;
            }
        }
        .Form {
            font-size: 18px;
            font-weight: bold;
            color: $white;
            flex-direction: column;
            background-color: $dark-gray;
            form {
                padding: 0 20px;
                margin-top: 20px;
                input {
                    border-radius: 0;
                    margin-bottom: 20px;
                    &:active,
                    &:focus {
                        border-color: $orange;
                    }
                }
                button {
                    color: $white;
                    background-color: $orange;
                    border: none;
                    width: 100%;
                    &:hover {
                        background-color: $gray;
                    }
                }
            }
        }
    }
}
