.Login {
    height: 100vh;
    width: 100vw;
    background-color: rgba(244, 249, 253, 1);
}

.LoginModal {
    width: 800px;
    height: 380px;
    border: 10px solid white;
    border-radius: 0;
    padding: 0;
}

.LoginModal input {
    border-radius: 0;
    margin-bottom: 10px;
}

.LoginModal input:active,
.LoginModal input:focus {
    border-color: rgb(237, 134, 67);
}

.LoginModal .Logo {
    background-color: rgba(92, 111, 125, 1);
}

.LoginModal .Form {
    color: #d7d7d7;
    flex-direction: column;
    background-color: rgba(66, 80, 91, 1);
}

.LoginModal .Form form {
    padding: 0 20px;
    margin-top: 20px;
}

.LoginModal .Form button {
    color: white;
    background-color: rgb(237, 134, 67);
    border: none;
    width: 100%;
}

.LoginModal .Logo img {
    width: 200px;
}
