@import '../../../variables.scss';

.ProfileMenu {
    button {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 14px;
        font-weight: bold;
        outline: 0;
        &:hover,
        &:focus,
        &:active {
            outline: 0;
            color: $orange;
        }
    }

    .dropdown-content {
        background-color: $dark-gray;
    }
}
