.ProfileMenu button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.ProfileMenu button:hover,
.ProfileMenu button:active {
    color: orange;
}
