@import '../../variables.scss';

.ItemCard {
    .box {
        border-radius: 0;
        height: 220px;
        border: 10px solid $white;
        background-color: $light-gray;
        &:hover {
            border-color: $orange;
        }
    }
}
