@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 32px;
    margin: 32px 0px;
}

h2 {
    font-size: 24px;
    margin: 24px 0px;
}

.center-all {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
