$dark-gray: rgba(66, 80, 91, 1);
$gray: rgba(92, 111, 125, 1);
$light-gray: rgba(244, 249, 253, 1);
$white: rgba(255, 255, 255, 1);
$orange: rgb(237, 134, 67);
$purple: rgba(86, 25, 136, 1);
$pink: rgba(200, 37, 154, 1);
$green: rgba(25, 136, 100, 1);
