@import '../../variables.scss';

.Nav {
    height: 75px;
    background-color: $dark-gray;
    color: $white;
    font-size: 10pt;

    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        a,
        a:hover,
        a:active,
        a:focus {
            background-color: $gray;
            display: block;
            width: 200px;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            max-height: 45px;
        }
    }

    .navbar-burger {
        color: $white;
    }

    .navbar-menu {
        align-items: center;
        justify-content: center;
        .navbar-item {
            padding: 0 50px;
            border-left: 1px solid $white;
            height: 25px;
            a {
                color: $light-gray;
                &:hover {
                    color: $orange;
                }
            }
            .active {
                border-bottom: 4px solid $orange;
            }
        }
        &.is-hidden-desktop {
            background-color: $gray;
        }
    }
}
