@import '../../variables.scss';

.Nav {
    height: 75px;
    background-color: $dark-gray;
    color: $white;
    font-size: 10pt;
    a {
        padding: 3px 0;
        margin: 0 12px;
        color: $light-gray;
        &:hover {
            color: $orange;
        }
    }
    .active {
        border-bottom: 4px solid $orange;
    }
    .logo-container {
        width: 136px;
        height: 45px;
        padding: none;
        margin: none;
    }
    .logo-wrapper {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 200px;
        height: 74px;
        padding: none;
        margin: none;
        background-color: $gray;
    }
}
